# in-toto runtime dependencies required by sphinx
-r requirements-pinned.txt

# sphinx extensions
sphinx-rtd-theme
# TODO: Unpin dependency with sphinx-doc/sphinx-argparse#56
sphinx-argparse<0.5.0
recommonmark
